## Agenda
* Loading the data with datasets
* NaN values
* filling NaN Values->random,ffill,bfill,mean
* Dropping rows/columns
* Data Merging->row creation & merging, Column creation
* Grouping
* Other Functions

In [32]:
import pandas as pd
import numpy as np

In [35]:
# Loading the csv file
cars = pd.read_csv('mtcars.csv')
cars.head() # first 5 rows of csv file

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [37]:
cars.loc[1:999]

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Valiant 2,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
8,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [3]:
cars.shape

(32, 12)

In [4]:
cars.tail()

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [5]:
cars

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Valiant 2,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
8,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [6]:
cars.dtypes

car_model     object
mpg          float64
cyl            int64
disp         float64
hp             int64
drat         float64
wt           float64
qsec         float64
vs             int64
am             int64
gear           int64
carb           int64
dtype: object

In [8]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   car_model  32 non-null     object
 1   mpg        32 non-null     float64
 2   cyl        32 non-null     int64
 3   disp       32 non-null     float64
 4   hp         32 non-null     int64
 5   drat       32 non-null     float64
 6   wt         32 non-null     float64
 7   qsec       32 non-null     float64
 8   vs         32 non-null     int64
 9   am         32 non-null     int64
 10  gear       32 non-null     int64
 11  carb       32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [10]:
cars.describe() # statistical info

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,19.875000,6.187500,227.925000,145.781250,3.553125,3.200375,17.821563,0.468750,0.437500,3.656250,2.718750
std,5.989184,1.712148,121.708557,67.540542,0.566628,0.992515,1.606035,0.507007,0.504016,0.745281,1.689328
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.000000
25%,15.425000,4.000000,120.250000,103.000000,3.070000,2.428750,16.892500,0.000000,0.000000,3.000000,1.000000
50%,18.650000,6.000000,225.000000,118.000000,3.660000,3.437500,17.900000,0.000000,0.000000,3.500000,2.000000
75%,21.825000,8.000000,307.500000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.000000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,20.220000,1.000000,1.000000,5.000000,8.000000

In [25]:
cars.iloc[[1,3,7]]

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
3,NaN,NaN,6,258.0,110.0,3.08,3.215,19.44,1,0,3,1
7,Valiant 2,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1

In [11]:
cars.car_model.describe()

count             32
unique            30
top       Datsun 710
freq               2
Name: car_model, dtype: object

In [12]:
# NaN-> not a no.
np.nan

nan

In [13]:
cars.isnull()

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,False,False

In [14]:
cars.isnull().sum()

car_model    0
mpg          0
cyl          0
disp         0
hp           0
drat         0
wt           0
qsec         0
vs           0
am           0
gear         0
carb         0
dtype: int64

In [15]:
cars.loc[3:5,['car_model','mpg']] = np.nan

In [17]:
cars.head(10)

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,NaN,NaN,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,NaN,NaN,4,108.0,93,3.85,2.320,18.61,1,1,4,1
5,NaN,NaN,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Valiant 2,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
8,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [18]:
#rows-26 to 29th row nan for disp and hp
cars.loc[25:28,['disp','hp']] = np.nan

In [19]:
cars.tail(10)

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,NaN,NaN,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,NaN,NaN,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,NaN,NaN,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,NaN,NaN,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [21]:
cars.isnull().sum()

car_model    3
mpg          3
cyl          0
disp         4
hp           4
drat         0
wt           0
qsec         0
vs           0
am           0
gear         0
carb         0
dtype: int64

## Data Preparation
* Loading the data,basic info
* Identify the missing values
* Handle/fill the missing values
* check the duplicate values

In [38]:
# Load the mtcars_empty.csv,info(),describe(),isnull().sum()

In [85]:
cars = pd.read_csv('mtcars_empty_data.csv')
cars.head()

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,NaN,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.4,6,258.0,NaN,3.08,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2

In [40]:
cars.shape

(32, 13)

In [41]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     int64
 1   model       32 non-null     object
 2   mpg         29 non-null     float64
 3   cyl         32 non-null     int64
 4   disp        32 non-null     float64
 5   hp          29 non-null     float64
 6   drat        32 non-null     float64
 7   wt          32 non-null     float64
 8   qsec        32 non-null     float64
 9   vs          32 non-null     int64
 10  am          32 non-null     int64
 11  gear        32 non-null     int64
 12  carb        32 non-null     int64
dtypes: float64(6), int64(6), object(1)
memory usage: 3.4+ KB

In [42]:
cars.describe()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,29.000000,32.000000,32.000000,29.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,15.500000,19.834483,6.187500,230.721875,141.689655,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,9.380832,5.788738,1.785922,123.938694,67.361023,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,0.000000,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,7.750000,15.500000,4.000000,120.825000,95.000000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,15.500000,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,23.250000,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,31.000000,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [59]:
# Finding the missing values

In [43]:
cars.isnull().sum()

Unnamed: 0    0
model         0
mpg           3
cyl           0
disp          0
hp            3
drat          0
wt            0
qsec          0
vs            0
am            0
gear          0
carb          0
dtype: int64

In [44]:
cars.isnull().sum().sum()

6

In [54]:
cars.loc[1:3,['drat']] = '#'
cars

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,110.0,3.9,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,NaN,6,160.0,110.0,#,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.8,4,108.0,93.0,#,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.4,6,258.0,NaN,#,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,6,Duster 360,NaN,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.4,8,460.0,215.0,3,5.424,17.82,0,0,3,4
16,16,Chrysler Imperial,14.7,8,440.0,NaN,3.23,5.345,17.42,0,0,3,4
17,17,Fiat 128,NaN,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.5,4,120.1,97.0,3.7,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,23,Camaro Z28,13.3,8,350.0,NaN,3.73,3.840,15.41,0,0,3,4
24,24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [55]:
cars.isnull().sum()

Unnamed: 0    0
model         0
mpg           3
cyl           0
disp          0
hp            3
drat          0
wt            0
qsec          0
vs            0
am            0
gear          0
carb          0
dtype: int64

In [56]:
s='@ # %'.split()
for i in s:
    cars.replace(i,np.nan,inplace=True)

In [48]:
# replace
cars['drat'].replace('#',np.nan,inplace=True)

In [57]:
cars

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,NaN,6,160.0,110.0,NaN,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.8,4,108.0,93.0,NaN,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.4,6,258.0,NaN,NaN,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,6,Duster 360,NaN,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,16,Chrysler Imperial,14.7,8,440.0,NaN,3.23,5.345,17.42,0,0,3,4
17,17,Fiat 128,NaN,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,23,Camaro Z28,13.3,8,350.0,NaN,3.73,3.840,15.41,0,0,3,4
24,24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [60]:
cars.isnull().sum() #isna()

Unnamed: 0    0
model         0
mpg           3
cyl           0
disp          0
hp            3
drat          3
wt            0
qsec          0
vs            0
am            0
gear          0
carb          0
dtype: int64

In [ ]:
# Handle/fill the nan values
#Methods-> fill the data-> any value, ffill, bfill, mean, median, mode(categorical data)

In [61]:
# fillna
cars.fillna(value=100)

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,100.0,6,160.0,110.0,100.00,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.8,4,108.0,93.0,100.00,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.4,6,258.0,100.0,100.00,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,6,Duster 360,100.0,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,16,Chrysler Imperial,14.7,8,440.0,100.0,3.23,5.345,17.42,0,0,3,4
17,17,Fiat 128,100.0,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,23,Camaro Z28,13.3,8,350.0,100.0,3.73,3.840,15.41,0,0,3,4
24,24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [63]:
cars.fillna(method='ffill') # fills with previous value(LOCF)

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,21.0,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.8,4,108.0,93.0,3.90,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.4,6,258.0,93.0,3.90,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,6,Duster 360,18.1,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,16,Chrysler Imperial,14.7,8,440.0,215.0,3.23,5.345,17.42,0,0,3,4
17,17,Fiat 128,14.7,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,23,Camaro Z28,13.3,8,350.0,150.0,3.73,3.840,15.41,0,0,3,4
24,24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [64]:
cars.fillna(method='bfill')# fills with next value(NOCB)

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,22.8,6,160.0,110.0,3.15,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.8,4,108.0,93.0,3.15,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.4,6,258.0,175.0,3.15,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,6,Duster 360,24.4,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,16,Chrysler Imperial,14.7,8,440.0,66.0,3.23,5.345,17.42,0,0,3,4
17,17,Fiat 128,30.4,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,23,Camaro Z28,13.3,8,350.0,175.0,3.73,3.840,15.41,0,0,3,4
24,24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [65]:
cars.fillna(cars.mean())

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.000000,6,160.0,110.000000,3.900000,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,19.834483,6,160.0,110.000000,3.595172,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.800000,4,108.0,93.000000,3.595172,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.400000,6,258.0,141.689655,3.595172,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.700000,8,360.0,175.000000,3.150000,3.440,17.02,0,0,3,2
5,5,Valiant,18.100000,6,225.0,105.000000,2.760000,3.460,20.22,1,0,3,1
6,6,Duster 360,19.834483,8,360.0,245.000000,3.210000,3.570,15.84,0,0,3,4
7,7,Merc 240D,24.400000,4,146.7,62.000000,3.690000,3.190,20.00,1,0,4,2
8,8,Merc 230,22.800000,4,140.8,95.000000,3.920000,3.150,22.90,1,0,4,2
9,9,Merc 280,19.200000,6,167.6,123.000000,3.920000,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.800000,6,167.6,123.000000,3.920000,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.400000,8,275.8,180.000000,3.070000,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.300000,8,275.8,180.000000,3.070000,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.200000,8,275.8,180.000000,3.070000,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.400000,8,472.0,205.000000,2.930000,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.400000,8,460.0,215.000000,3.000000,5.424,17.82,0,0,3,4
16,16,Chrysler Imperial,14.700000,8,440.0,141.689655,3.230000,5.345,17.42,0,0,3,4
17,17,Fiat 128,19.834483,4,78.7,66.000000,4.080000,2.200,19.47,1,1,4,1
18,18,Honda Civic,30.400000,4,75.7,52.000000,4.930000,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.900000,4,71.1,65.000000,4.220000,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.500000,4,120.1,97.000000,3.700000,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.500000,8,318.0,150.000000,2.760000,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.200000,8,304.0,150.000000,3.150000,3.435,17.30,0,0,3,2
23,23,Camaro Z28,13.300000,8,350.0,141.689655,3.730000,3.840,15.41,0,0,3,4
24,24,Pontiac Firebird,19.200000,8,400.0,175.000000,3.080000,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.300000,4,79.0,66.000000,4.080000,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.000000,4,120.3,91.000000,4.430000,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.400000,4,95.1,113.000000,3.770000,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.800000,8,351.0,264.000000,4.220000,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.700000,6,145.0,175.000000,3.620000,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.000000,8,301.0,335.000000,3.540000,3.570,14.60,0,1,5,8
31,31,Volvo 142E,21.400000,4,121.0,109.000000,4.110000,2.780,18.60,1,1,4,2

In [66]:
cars.fillna(cars.median())

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,19.2,6,160.0,110.0,3.69,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.8,4,108.0,93.0,3.69,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.4,6,258.0,123.0,3.69,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,6,Duster 360,19.2,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,16,Chrysler Imperial,14.7,8,440.0,123.0,3.23,5.345,17.42,0,0,3,4
17,17,Fiat 128,19.2,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,23,Camaro Z28,13.3,8,350.0,123.0,3.73,3.840,15.41,0,0,3,4
24,24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [67]:
cars.fillna(cars['model'].mode())

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,NaN,6,160.0,110.0,NaN,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.8,4,108.0,93.0,NaN,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.4,6,258.0,NaN,NaN,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,6,Duster 360,NaN,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,16,Chrysler Imperial,14.7,8,440.0,NaN,3.23,5.345,17.42,0,0,3,4
17,17,Fiat 128,NaN,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,23,Camaro Z28,13.3,8,350.0,NaN,3.73,3.840,15.41,0,0,3,4
24,24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [68]:
#Dropping rows/columns
cars.dropna()

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
7,7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
18,18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
24,24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [72]:
cars.drop('Unnamed: 0',axis=1,inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

In [73]:
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,NaN,6,160.0,110.0,NaN,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93.0,NaN,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,NaN,NaN,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,Duster 360,NaN,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,NaN,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,NaN,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,NaN,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [74]:
cars.drop(3,axis=0)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,NaN,6,160.0,110.0,NaN,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93.0,NaN,2.320,18.61,1,1,4,1
4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,Duster 360,NaN,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,NaN,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,NaN,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,NaN,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [75]:
cars.dropna(how='all') # delete rows if all values are null

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,NaN,6,160.0,110.0,NaN,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93.0,NaN,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,NaN,NaN,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,Duster 360,NaN,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,NaN,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,NaN,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,NaN,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [78]:
cars.dropna(how='any',inplace=True) # delete rows if any value is null

In [82]:
cars.reset_index(drop=True)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
2,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
3,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
4,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
5,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
6,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
7,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
8,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
9,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
10,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
11,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
12,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
13,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
14,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
15,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
16,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
17,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
18,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
19,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
20,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
21,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
22,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
23,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
24,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [87]:
#finding the duplicates
cars.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [88]:
#Drop Duplicates
cars.drop_duplicates()

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,110.0,3.90,2.620,16.46,0,1,4,4
1,1,Mazda RX4 Wag,NaN,6,160.0,110.0,3.90,2.875,17.02,0,1,4,4
2,2,Datsun 710,22.8,4,108.0,93.0,3.85,2.320,18.61,1,1,4,1
3,3,Hornet 4 Drive,21.4,6,258.0,NaN,3.08,3.215,19.44,1,0,3,1
4,4,Hornet Sportabout,18.7,8,360.0,175.0,3.15,3.440,17.02,0,0,3,2
5,5,Valiant,18.1,6,225.0,105.0,2.76,3.460,20.22,1,0,3,1
6,6,Duster 360,NaN,8,360.0,245.0,3.21,3.570,15.84,0,0,3,4
7,7,Merc 240D,24.4,4,146.7,62.0,3.69,3.190,20.00,1,0,4,2
8,8,Merc 230,22.8,4,140.8,95.0,3.92,3.150,22.90,1,0,4,2
9,9,Merc 280,19.2,6,167.6,123.0,3.92,3.440,18.30,1,0,4,4
10,10,Merc 280C,17.8,6,167.6,123.0,3.92,3.440,18.90,1,0,4,4
11,11,Merc 450SE,16.4,8,275.8,180.0,3.07,4.070,17.40,0,0,3,3
12,12,Merc 450SL,17.3,8,275.8,180.0,3.07,3.730,17.60,0,0,3,3
13,13,Merc 450SLC,15.2,8,275.8,180.0,3.07,3.780,18.00,0,0,3,3
14,14,Cadillac Fleetwood,10.4,8,472.0,205.0,2.93,5.250,17.98,0,0,3,4
15,15,Lincoln Continental,10.4,8,460.0,215.0,3.00,5.424,17.82,0,0,3,4
16,16,Chrysler Imperial,14.7,8,440.0,NaN,3.23,5.345,17.42,0,0,3,4
17,17,Fiat 128,NaN,4,78.7,66.0,4.08,2.200,19.47,1,1,4,1
18,18,Honda Civic,30.4,4,75.7,52.0,4.93,1.615,18.52,1,1,4,2
19,19,Toyota Corolla,33.9,4,71.1,65.0,4.22,1.835,19.90,1,1,4,1
20,20,Toyota Corona,21.5,4,120.1,97.0,3.70,2.465,20.01,1,0,3,1
21,21,Dodge Challenger,15.5,8,318.0,150.0,2.76,3.520,16.87,0,0,3,2
22,22,AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
23,23,Camaro Z28,13.3,8,350.0,NaN,3.73,3.840,15.41,0,0,3,4
24,24,Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
25,25,Fiat X1-9,27.3,4,79.0,66.0,4.08,1.935,18.90,1,1,4,1
26,26,Porsche 914-2,26.0,4,120.3,91.0,4.43,2.140,16.70,0,1,5,2
27,27,Lotus Europa,30.4,4,95.1,113.0,3.77,1.513,16.90,1,1,5,2
28,28,Ford Pantera L,15.8,8,351.0,264.0,4.22,3.170,14.50,0,1,5,4
29,29,Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
30,30,Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
31,31,Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [ ]:
 #Data Merging->row creation & merging, Column creation

In [ ]:
# drop unnamed 
#Q) Create a df with with Kia Seltos (fill values) and tran0spose and add column names, concat cars with new added

In [89]:
cars.head(1)

,Unnamed: 0,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,Mazda RX4,21.0,6,160.0,110.0,3.9,2.62,16.46,0,1,4,4

In [98]:
cars.head(1)

   car_model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [102]:
cars_new = pd.DataFrame(['Kia seltyos', 26,4,340,130,2.65,4.55,14.67,1,1,4,8])
cars_new

              0
0   Kia seltyos
1            26
2             4
3           340
4           130
5          2.65
6          4.55
7         14.67
8             1
9             1
10            4
11            8

In [107]:
cars_new=cars_new.transpose() # row into col and vice versa
cars_new

             0   1  2    3    4     5     6      7  8  9 10 11
0  Kia seltyos  26  4  340  130  2.65  4.55  14.67  1  1  4  8

In [108]:
cars.columns

Index(['car_model', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [109]:
cars_new.columns = ['car_model', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs','am', 'gear', 'carb']
cars_new

     car_model mpg cyl disp   hp  drat    wt   qsec vs am gear carb
0  Kia seltyos  26   4  340  130  2.65  4.55  14.67  1  1    4    8

In [111]:
cars_up = pd.concat([cars_new,cars],ignore_index=True)
cars_up

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Kia seltyos,26,4,340,130,2.65,4.55,14.67,1,1,4,8
1,Mazda RX4,21,6,160,110,3.9,2.62,16.46,0,1,4,4
2,Mazda RX4 Wag,21,6,160,110,3.9,2.875,17.02,0,1,4,4
3,Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1
4,Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1
5,Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1
6,Valiant,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1
7,Duster 360,14.3,8,360,245,3.21,3.57,15.84,0,0,3,4
8,Valiant 2,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1
9,Valiant,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1
10,Merc 280,19.2,6,167.6,123,3.92,3.44,18.3,1,0,4,4
11,Merc 280C,17.8,6,167.6,123,3.92,3.44,18.9,1,0,4,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.07,17.4,0,0,3,3
13,Merc 450SL,17.3,8,275.8,180,3.07,3.73,17.6,0,0,3,3
14,Merc 450SLC,15.2,8,275.8,180,3.07,3.78,18,0,0,3,3
15,Cadillac Fleetwood,10.4,8,472,205,2.93,5.25,17.98,0,0,3,4
16,Lincoln Continental,10.4,8,460,215,3,5.424,17.82,0,0,3,4
17,Chrysler Imperial,14.7,8,440,230,3.23,5.345,17.42,0,0,3,4
18,Fiat 128,32.4,4,78.7,66,4.08,2.2,19.47,1,1,4,1
19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,1,4,1
21,Toyota Corona,21.5,4,120.1,97,3.7,2.465,20.01,1,0,3,1
22,Dodge Challenger,15.5,8,318,150,2.76,3.52,16.87,0,0,3,2
23,AMC Javelin,15.2,8,304,150,3.15,3.435,17.3,0,0,3,2
24,Camaro Z28,13.3,8,350,245,3.73,3.84,15.41,0,0,3,4
25,Pontiac Firebird,19.2,8,400,175,3.08,3.845,17.05,0,0,3,2
26,Fiat X1-9,27.3,4,79,66,4.08,1.935,18.9,1,1,4,1
27,Porsche 914-2,26,4,120.3,91,4.43,2.14,16.7,0,1,5,2
28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
29,Ford Pantera L,15.8,8,351,264,4.22,3.17,14.5,0,1,5,4
30,Ferrari Dino,19.7,6,145,175,3.62,2.77,15.5,0,1,5,6
31,Maserati Bora,15,8,301,335,3.54,3.57,14.6,0,1,5,8
32,Volvo 142E,21.4,4,121,109,4.11,2.78,18.6,1,1,4,2

In [ ]:
# Grouping-> groupby and use any aggregate function

count() – Number of non-null observations.
sum() – Sum of values.
mean() – Mean of values.
median() – Arithmetic median of values.
min() – Minimum.
max() – Maximum.
mode() – Mode.
std() – Standard deviation.
var() – Variance

In [ ]:
#Other Functions

abs()	Absolute Value
prod()	Product of Values
cumsum()	Cumulative Sum
cumprod()	Cumulative Product

In [27]:
d3 = pd.DataFrame({'A':[5,6,7],'B':[3,5,6],'C':[8,3,1]})
d3

   A  B  C
0  5  3  8
1  6  5  3
2  7  6  1

In [28]:
d3.abs()

   A  B  C
0  5  3  8
1  6  5  3
2  7  6  1

In [29]:
d3.prod()

A    210
B     90
C     24
dtype: int64

In [30]:
d3.cumsum()

    A   B   C
0   5   3   8
1  11   8  11
2  18  14  12

In [31]:
d3.cumprod()

     A   B   C
0    5   3   8
1   30  15  24
2  210  90  24